* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************/
/* navbar */
/*******************************/
.navbar {
    animation: 0s;
    height: 9vh;
    background-color: white !important;
}

.navbar-brand,
.nav-link,
.navbar .fa {
    color: black !important;
}

/*******************************/
/* About Container */
/*******************************/
.card {
    position: absolute;
    top: 9%;
    color: black;
    max-width: 100% !important;
    border-radius: 0 !important;
    border: none !important;
    font-size: 17px;
}

.card-img {
    width: 104.6%;
    border-radius: calc(0rem - 0px);
}

.card-body {
    padding-left: 5%;
}

/*******************************/
/*******************************/
/* media queries */
/*******************************/
/*******************************/
.navbar-light .navbar-toggler {
    opacity: 1;
}

.navbar-toggler-icon {
    width: 1em;
    z-index: 999;
}

.navbar-collapse.collapse.show {
    background-color: white;
    position: absolute;
    padding: 5%;
    left: 0;
    top: 70%;
    transform: translate(0, 0);
}

@media only screen and (max-width: 600px) {
    #contact {
        position: relative;
        margin: auto;
    }
    
    .logo {
        display: none;
    }
}
