* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************/
/* navbar */
/*******************************/
.navbar {
    animation: 0s;
    background-color: white !important;
    height: 9vh;
}

.navbar-brand,
.nav-link,
.navbar .fa {
    color: black !important;
}

/*******************************/
/* photo container */
/*******************************/
.card-columns {
    padding: 4.3rem!important;
    padding-top: 15% !important;
    text-align: center;
    color: black;
}

.title {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
}

.card {
    border: none !important;
    border-radius: none !important;
    border-color: none !important;
    padding: 2%;
}

.card-img-top {
    border-top-left-radius: calc(0rem - 0px) !important;
    border-top-right-radius: calc(0rem - 0px) !important;
}

.card-img-top:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bg-primary {
    background-color: none !important;
}

/*******************************/
/* Light Box */
/*******************************/
.hide {
    display: none;
}

#back {
    position: fixed;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: black;
    opacity: 0.85;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

#content {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: none;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    z-index: 9999;
    border-radius: calc(0rem - 0px) !important;
    border: none;
    background-color: none;
}

#close {
    position: fixed;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    font-size: 35px;
    padding-left: 9px;
    padding-right: 9px;
    top: 10%;
    right: 27%;
    transform: translate(-10%, 0, 0,-27%);
    border-radius: 90%;
    margin: 0;
    z-index: 9999;
}

#close:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*******************************/
/* Navigation */
/*******************************/
.navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1%;
    font-size: 26px;
    color: black;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation span,
.navigation i {
    font-size: 16px;
}

.navigation:hover {
    cursor: pointer;
    opacity: .7;
}

/*******************************/
/*******************************/
/* media queries */
/*******************************/
/*******************************/
.navbar-light .navbar-toggler {
    opacity: 1;
}

.navbar-toggler-icon {
    width: 1em;
    z-index: 999;
}

.navbar-collapse.collapse.show {
    background-color: white;
    position: absolute;
    padding: 5%;
    left: 0;
    top: 70%;
    transform: translate(0, 0);
}

@media only screen and (max-width: 600px) {
    #contact {
        position: relative;
        margin: auto;
    }
    
    .logo {
        display: none;
    }
}